In [106]:
import pandas as pd

dir_loc = '/media/td/Samsung_T5/kaggle_data/ASHRAE_2019-10-15/ashrae-energy-prediction'
building_metadata_file_name = 'building_metadata.csv'
sample_submission_file_name = 'sample_submission.csv'
test_file_name = 'test.csv'
train_file_name = 'train.csv'
weather_test_file_name = 'weather_test.csv'
weather_train_file_name = 'weather_train.csv'

## File characteristics

In [107]:
building_metadata_df = pd.read_csv(f'{dir_loc}/{building_metadata_file_name}')

In [108]:
building_metadata_df.shape

(1449, 6)

In [109]:
building_metadata_df.columns

Index(['site_id', 'building_id', 'primary_use', 'square_feet', 'year_built',
       'floor_count'],
      dtype='object')

In [110]:
building_metadata_df['site_id'].value_counts()

3     274
13    154
2     135
15    124
9     124
0     105
14    102
4      91
5      89
8      70
1      51
6      44
12     36
10     30
7      15
11      5
Name: site_id, dtype: int64

In [111]:
building_metadata_df['building_id'].value_counts()

1448    1
475     1
477     1
478     1
479     1
       ..
966     1
967     1
968     1
969     1
0       1
Name: building_id, Length: 1449, dtype: int64

In [112]:
building_metadata_df['primary_use'].value_counts(normalize = True)

Education                        0.378882
Office                           0.192547
Entertainment/public assembly    0.126984
Public services                  0.107660
Lodging/residential              0.101449
Other                            0.017253
Healthcare                       0.015873
Parking                          0.015183
Warehouse/storage                0.008972
Manufacturing/industrial         0.008282
Retail                           0.007591
Services                         0.006901
Technology/science               0.004141
Food sales and service           0.003451
Utility                          0.002761
Religious worship                0.002070
Name: primary_use, dtype: float64

In [113]:
building_metadata_df['square_feet'].describe()

count      1449.000000
mean      92111.776398
std      110769.950997
min         283.000000
25%       23012.000000
50%       57673.000000
75%      115676.000000
max      875000.000000
Name: square_feet, dtype: float64

In [114]:
building_metadata_df['year_built'].describe()

count     675.000000
mean     1967.957037
std        31.054030
min      1900.000000
25%      1949.000000
50%      1970.000000
75%      1995.000000
max      2017.000000
Name: year_built, dtype: float64

In [115]:
building_metadata_df['floor_count'].describe()

count    355.000000
mean       3.740845
std        3.333683
min        1.000000
25%        1.000000
50%        3.000000
75%        5.000000
max       26.000000
Name: floor_count, dtype: float64

In [116]:
building_metadata_df.isnull().sum(axis = 0) / building_metadata_df.shape[0]

site_id        0.000000
building_id    0.000000
primary_use    0.000000
square_feet    0.000000
year_built     0.534161
floor_count    0.755003
dtype: float64

In [117]:
sample_submission_df = pd.read_csv(f'{dir_loc}/{sample_submission_file_name}')
sample_submission_df.head()

   row_id  meter_reading
0       0              0
1       1              0
2       2              0
3       3              0
4       4              0

In [118]:
test_df = pd.read_csv(f'{dir_loc}/{test_file_name}')
train_df = pd.read_csv(f'{dir_loc}/{train_file_name}')
train_df.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            1      0  2016-01-01 00:00:00            0.0
2            2      0  2016-01-01 00:00:00            0.0
3            3      0  2016-01-01 00:00:00            0.0
4            4      0  2016-01-01 00:00:00            0.0

In [119]:
train_df.isnull().sum(axis = 0) / train_df.shape[0]

building_id      0.0
meter            0.0
timestamp        0.0
meter_reading    0.0
dtype: float64

In [120]:
weather_test_df = pd.read_csv(f'{dir_loc}/{weather_test_file_name}')
weather_test_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2017-01-01 00:00:00,17.8,4.0,11.7,NaN,1021.4,100.0,3.6
1,0,2017-01-01 01:00:00,17.8,2.0,12.8,0.0,1022.0,130.0,3.1
2,0,2017-01-01 02:00:00,16.1,0.0,12.8,0.0,1021.9,140.0,3.1
3,0,2017-01-01 03:00:00,17.2,0.0,13.3,0.0,1022.2,140.0,3.1
4,0,2017-01-01 04:00:00,16.7,2.0,13.3,0.0,1022.3,130.0,2.6

In [121]:
weather_train_df = pd.read_csv(f'{dir_loc}/{weather_train_file_name}')
weather_train_df.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6

In [122]:
weather_test_df.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,277243.000000,277139.000000,136795.000000,276916.000000,181655.000000,255978.000000,264873.000000,276783.000000
mean,7.484654,14.276863,2.187317,7.487658,1.095395,1016.195762,180.426023,3.548873
std,4.616959,10.741605,2.620627,10.153973,9.163511,7.940392,110.456872,2.317184
min,0.000000,-28.100000,0.000000,-31.600000,-1.000000,972.000000,0.000000,0.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.600000,80.000000,2.100000
50%,7.000000,15.000000,2.000000,8.400000,0.000000,1016.300000,190.000000,3.100000
75%,12.000000,22.200000,4.000000,15.000000,0.000000,1020.800000,280.000000,4.600000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000

In [123]:
weather_train_df.describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,139773.000000,139718.000000,70600.000000,139660.000000,89484.000000,129155.000000,133505.000000,139469.000000
mean,7.478977,14.418106,2.149306,7.350158,0.983047,1016.158038,180.526632,3.560527
std,4.604744,10.626595,2.599150,9.790235,8.463678,7.629684,111.523629,2.335874
min,0.000000,-28.900000,0.000000,-35.000000,-1.000000,968.200000,0.000000,0.000000
25%,3.000000,7.200000,0.000000,0.600000,0.000000,1011.800000,80.000000,2.100000
50%,7.000000,15.000000,2.000000,8.300000,0.000000,1016.400000,190.000000,3.100000
75%,11.000000,22.200000,4.000000,14.400000,0.000000,1020.800000,280.000000,5.000000
max,15.000000,47.200000,9.000000,26.100000,343.000000,1045.500000,360.000000,19.000000

In [124]:
weather_df = pd.concat([weather_train_df, weather_test_df])

In [125]:
weather_df.isnull().sum(axis = 0) / weather_df.shape[0]

site_id               0.000000
timestamp             0.000000
air_temperature       0.000381
cloud_coverage        0.502669
dew_temperature       0.001055
precip_depth_1_hr     0.349812
sea_level_pressure    0.076455
wind_direction        0.044694
wind_speed            0.001832
dtype: float64

In [126]:
weather_train_df.isnull().sum(axis = 0) / weather_train_df.shape[0]

site_id               0.000000
timestamp             0.000000
air_temperature       0.000393
cloud_coverage        0.494895
dew_temperature       0.000808
precip_depth_1_hr     0.359791
sea_level_pressure    0.075966
wind_direction        0.044844
wind_speed            0.002175
dtype: float64

In [127]:
weather_test_df.isnull().sum(axis = 0) / weather_test_df.shape[0]

site_id               0.000000
timestamp             0.000000
air_temperature       0.000375
cloud_coverage        0.506588
dew_temperature       0.001179
precip_depth_1_hr     0.344781
sea_level_pressure    0.076702
wind_direction        0.044618
wind_speed            0.001659
dtype: float64

In [128]:
weather_df['air_temperature'].describe()

count    416857.000000
mean         14.324204
std          10.703390
min         -28.900000
25%           7.200000
50%          15.000000
75%          22.200000
max          48.300000
Name: air_temperature, dtype: float64

In [129]:
weather_df['cloud_coverage'].describe()

count    207395.000000
mean          2.174377
std           2.613391
min           0.000000
25%           0.000000
50%           2.000000
75%           4.000000
max           9.000000
Name: cloud_coverage, dtype: float64

In [130]:
weather_df[weather_df['cloud_coverage'].isnull()].describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,209621.000000,209482.000000,0.0,209318.000000,116077.000000,187854.000000,202752.000000,209231.000000
mean,7.280988,12.678670,NaN,7.494326,2.236714,1015.596414,184.631510,3.714822
std,4.539802,10.636721,NaN,10.276560,12.782700,7.849045,107.925446,2.301223
min,0.000000,-28.800000,NaN,-35.000000,-1.000000,972.000000,0.000000,0.000000
25%,4.000000,5.600000,NaN,0.600000,0.000000,1011.100000,90.000000,2.100000
50%,7.000000,13.500000,NaN,8.900000,0.000000,1015.800000,190.000000,3.600000
75%,11.000000,20.600000,NaN,15.000000,0.000000,1020.300000,280.000000,5.100000
max,15.000000,46.700000,NaN,26.700000,597.000000,1046.500000,360.000000,21.600000

In [131]:
weather_df[~weather_df['cloud_coverage'].isnull()].describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,207395.000000,207375.000000,207395.000000,207258.000000,155062.000000,197279.000000,195626.000000,207021.000000
mean,7.686680,15.986456,2.174377,7.388270,0.176188,1016.741779,176.136004,3.389003
std,4.676727,10.511988,2.613391,9.782034,3.947172,7.785679,113.571794,2.334338
min,0.000000,-28.900000,0.000000,-31.700000,-1.000000,968.200000,0.000000,0.000000
25%,3.000000,8.900000,0.000000,0.600000,0.000000,1012.300000,80.000000,2.100000
50%,8.000000,16.100000,2.000000,7.900000,0.000000,1016.800000,180.000000,3.100000
75%,12.000000,23.900000,4.000000,14.400000,0.000000,1021.300000,280.000000,4.600000
max,15.000000,48.300000,9.000000,26.700000,442.000000,1050.100000,360.000000,24.200000

Weather is warmer where cloud coverage is null. It is possible that cloud coverage is not included in clear sky weather. Filling nans with 0s for now + including a flag.

In [132]:
weather_df['dew_temperature'].describe()

count    416576.000000
mean          7.441560
std          10.033695
min         -35.000000
25%           0.600000
50%           8.300000
75%          15.000000
max          26.700000
Name: dew_temperature, dtype: float64

In [133]:
weather_df[weather_df['precip_depth_1_hr'].isnull()].describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,145877.000000,145843.000000,52333.000000,145748.000000,0.0,118217.000000,144378.000000,145836.000000
mean,8.162562,10.017472,3.154854,5.484872,NaN,1016.008018,202.635221,4.121204
std,4.662359,9.213586,3.193189,8.718865,NaN,9.500688,98.301414,2.423031
min,0.000000,-28.800000,0.000000,-35.000000,NaN,968.200000,0.000000,0.000000
25%,5.000000,4.700000,0.000000,1.000000,NaN,1010.700000,120.000000,2.600000
50%,7.000000,10.600000,2.000000,7.000000,NaN,1016.600000,220.000000,3.600000
75%,12.000000,16.200000,7.000000,11.700000,NaN,1022.200000,280.000000,5.700000
max,15.000000,39.400000,9.000000,25.600000,NaN,1045.500000,360.000000,23.000000

In [134]:
weather_df[~weather_df['precip_depth_1_hr'].isnull()].describe()

,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
count,271139.000000,271014.000000,155062.000000,270828.000000,271139.000000,266916.000000,254000.000000,270416.000000
mean,7.117003,16.641820,1.843469,8.494566,1.058317,1016.260660,167.854811,3.246224
std,4.544138,10.732103,2.293401,10.524978,8.938746,6.974033,115.452008,2.208037
min,0.000000,-28.900000,0.000000,-31.700000,-1.000000,973.200000,0.000000,0.000000
25%,3.000000,9.400000,0.000000,0.600000,0.000000,1012.000000,60.000000,2.100000
50%,8.000000,17.800000,2.000000,10.000000,0.000000,1016.200000,170.000000,3.100000
75%,10.000000,24.400000,4.000000,17.200000,0.000000,1020.300000,270.000000,4.600000
max,15.000000,48.300000,9.000000,26.700000,597.000000,1050.100000,360.000000,24.200000

Not sure how to input precip_depth_1_hr. It is missing in colder weather. Might be invalid in snowy conditions. I will fill with median and include a flag but that seems incorrect. I should make a sample of weather_df with otherwise similar characteristics to the nan values and fill with the median of that sample.

## Data Processing

In [135]:
building_metadata_df['floor_count'] = building_metadata_df['floor_count'].fillna(building_metadata_df['floor_count'].median())
building_metadata_df['year_built'] = building_metadata_df['year_built'].fillna(building_metadata_df['year_built'].mean())
weather_df['air_temperature'] = weather_df['air_temperature'].fillna(weather_df['air_temperature'].median())
weather_df['cloud_coverage_present_flag'] = weather_df['cloud_coverage'].apply(lambda x: 0 if pd.isna(x) else 0)
weather_df['cloud_coverage'] = weather_df['cloud_coverage'].fillna(0)
weather_df['dew_temperature'] = weather_df['dew_temperature'].fillna(weather_df['dew_temperature'].median())
weather_df['precip_depth_1_hr_present_flag'] = weather_df['precip_depth_1_hr'].apply(lambda x: 0 if pd.isna(x) else 0)
weather_df['precip_depth_1_hr'] = weather_df['precip_depth_1_hr'].fillna(weather_df['precip_depth_1_hr'].median())
weather_df['wind_direction_present_flag'] = weather_df['wind_direction'].apply(lambda x: 0 if pd.isna(x) else 0)
weather_df['wind_direction'] = weather_df['wind_direction'].fillna(0)
weather_df['wind_speed'] = weather_df['wind_speed'].fillna(weather_df['wind_speed'].median())

In [136]:
train_df = train_df.merge(building_metadata_df)
train_df = train_df.merge(weather_df)

In [137]:
test_df = test_df.merge(building_metadata_df)
test_df = test_df.merge(weather_df)